<ng-container *ngIf="env">
  <div class="display-1 text-center row">
    <p class="my-auto">Something went wrong</p>
    <p class="display-5">Please try again later or contact our support</p>
  </div>
  <div class="text-center">
    <button class="btn btn-primary btn-block w-50" routerLink="../">Return home</button>
  </div>
</ng-container>
<ng-container *ngIf="err&&!env">
  <h4>Internal server error!</h4>
  <h5 class="text-danger">Error: {{err.message}}</h5>
  <p class="font-weight-bold">Problem is not in angular, I guess</p>
  <p>What to do next?</p>
  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect network</li>
    <li>Failing request</li>
    <li>Correct URL</li>
    <li>Try Postman - same error - !angular</li>
  </ol>
  <p>Stack trace:</p>
  <code class="mt-5" style="background:floralwhite">{{err.details}}</code>
</ng-container>
