<section class="container p-0">
  <article class="card mb-4 mt-3 ">
    <header class="card-header">
      <div class="media flex-wrap align-items-center">
        <img src="{{topic?.author?.avatar?.url|| './assets/user.png'}}"
             alt="{{topic?.author?.publicUsername}}" class="d-block rounded-circle avatar">
        <div class="media-body ml-3">
          <a class="link-info" routerLink="../../members/{{topic.author.username}}">{{topic.author.publicUsername}}</a>
        </div>
        <div class="text-muted text-right small">{{topic.created|date: "dd/MM/yyyy hh:mm"}}
          <p>{{topic.category}}</p>
        </div>
      </div>
      <h5 class="card-title mt-4">{{topic.title}}</h5>
    </header>
    <main class="card-body">{{topic.question}}</main>
  </article>
  <article class=""></article>
  <ul class="list-unstyled">
    <li class="page-item" *ngFor="let p of this.posts">
      <app-posts [post]="p"></app-posts>
    </li>
  </ul>
</section>
