<nav class="navbar navbar-expand navbar-dark bg-primary">
  <div class="container-fluid mx-md-3">
    <a class="navbar-brand" href="/" routerLinkActive="active">Forum</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/topics">Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/members">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/errors">Errors</a>
      </li>
    </ul>

    <div class="dropdown" *ngIf="(accountService.currentUser$|async) as user" dropdown>
      <a class="dropdown-toggle text-light"
         dropdownToggle>Welcome {{user.username|titlecase}}</a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="(accountService.currentUser$|async)===null" #loginForm="ngForm"
          class="d-flex" (ngSubmit)="login()" autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control mr-2"
             type="text" placeholder="Login">
      <input name="password" [(ngModel)]="model.password" class="form-control mr-2"
             type="password" placeholder="Password">
      <button class="btn btn-success mr-2" type="submit">Login</button>
      <button class="btn btn-info" routerLink="/register" type="button">Register</button>
    </form>
  </div>
</nav>
