<div class="row w-100" >
  <div class="col-3 card-wrap">
    <div class="card">
      <img src="{{member?.avatar?.url|| './assets/user.png'}}"
           alt="{{member?.publicUsername}}" class="card-img-top img-thumbnail">
      <div class="text-center mb-4 ">
        <strong>{{member?.publicUsername}}</strong>
      </div>
      <ul role="list">
        <li>
          <strong>Date of birth</strong>
          <p>{{member.dateOfBirth| date: "dd/MM/yyyy"}}</p>
        </li>
        <li>
          <strong>Location</strong>
          <p>{{member.country}}</p>
        </li>
        <li>
          <strong>Reputation</strong>
          <p>{{member.reputation}}</p>
        </li>
        <li>
          <strong>Member since</strong>
          <p>{{member.created | date: "dd/MM/yyyy"}}</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-7">
    <tabset class="member-tabset">
      <tab heading="About {{member.publicUsername}}">
        <h4>Description</h4>
        <p>{{member.about}}</p>
        <h4>Interests</h4>
        <p>{{member.interests}}</p>
      </tab>
      <tab heading="Statistics">
        <strong>Last active</strong>
        <p>{{member.lastActive | date: "dd/MM/yyyy hh:mm"}}</p>
      </tab>
    </tabset>
  </div>

</div>
