<div class="row w-100">
  <div class="col-3 text-center">
    <h1>Your profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info mt-2 " *ngIf="editForm.dirty">
      <strong>Information</strong> You've made changes. Any unsaved changes will be lost
    </div>
  </div>
</div>
<div class="row w-100">
  <div class="col-3 card-wrap">
    <div class="card">
      <img src="{{member?.avatar?.url|| './assets/user.png'}}"
           alt="{{member?.publicUsername}}" class="card-img-top img-thumbnail">
      <div class="text-center mb-4 ">
        <strong>{{member?.publicUsername}}</strong>
      </div>
      <ul role="list">
        <li>
          <strong>Date of birth</strong>
          <p>{{member.dateOfBirth| date: "dd/MM/yyyy"}}</p>
        </li>
        <li>
          <strong>Location</strong>
          <p>{{member.country}}</p>
        </li>
        <li>
          <strong>Reputation</strong>
          <p>{{member.reputation}}</p>
        </li>
        <li>
          <strong>Member since</strong>
          <p>{{member.created | date: "dd/MM/yyyy"}}</p>
        </li>
      </ul>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" type="submit"
                class="btn btn-success btn-block">Save Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="member-tabset col-7">
      <tab heading="About {{member?.publicUsername}}">
        <form class="mt-2" #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
          <h4>Description</h4>
          <textarea class="form-control" [(ngModel)]="member.about" name="about"
                    rows="6"></textarea>
          <h4 class="mt-2">Interests</h4>
          <textarea class="form-control" [(ngModel)]="member.interests" name="interests"
                    rows="6"></textarea>
          <div class="mt-3 col-auto">
            <label for="country">Country:</label>
            <input class="ml-2" [(ngModel)]="member.country" type="text" name="country"
                   id="country">
          </div>
          <div class="mt-2 col-auto">
            <label for="dateOfBirth">Date of birth:</label>
            <input class="ml-1" [(ngModel)]="member.dateOfBirth" type="date"
                   name="dateOfBirth"
                   id="dateOfBirth">
          </div>
          <div class="mt-2 col-auto">
            <label for="publicUsername">Username:</label>
            <input class="ml-1" [(ngModel)]="member.publicUsername" type="text"
                   name="publicUsername"
                   id="publicUsername">
          </div>
        </form>
      </tab>
      <tab heading="Edit profile picture">
        <app-photo-uploader [member]="member"></app-photo-uploader>
      </tab>
    </tabset>
  </div>
</div>
