<div class="container d-flex mt-5 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Welcome to our Forum</h1>
    <h6>Here are the hottest topics:</h6>
    <table class='table table-bordered'>
      <thead>
      <tr class="row-cols-5">
        <th scope="row" class="col-1">Status</th>
        <th scope="row" class="col-8">Name</th>
        <th scope="row" class="col-auto">Category</th>
        <th scope="row" class="col-auto">Statistics</th>
        <th scope="row" class="col-auto">Last message</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let topic of topics$|async">
        <td>Open</td>
        <th>
          <p class="link-info" style="cursor: pointer"
             routerLink='../topic/{{topic.id}}'>{{topic.title}}</p>
          <a routerLink="../members/{{topic.author.username}}">
            {{topic.author.publicUsername}}</a>
        </th>
        <td>{{topic.category}}</td>
        <td>{{topic.posts.length}} Answers</td>
        <td>
          {{topic.posts[topic.posts.length - 1].created| date:"dd/MM/yy hh:mm"}}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-info mb-5" routerLink="topics">Explore more</button>

    <div class="lead text-center mb-5">
    <h1>Register for full experience</h1>
    <h5>Our forum feels better when you registered. Start your jorney now!</h5>
    <app-register></app-register>
    </div>
  </main>
</div>
