<table class="table">
  <thead>
  <tr>
    <th scope="row" *ngFor="let c of columnList">
      {{c}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of memberList$|async|paginate:{itemsPerPage:5,currentPage:p,totalItems:totalCount}">
    <th><p class="link-info" style="cursor: pointer"
           routerLink='/members/{{member.username}}'>{{member.publicUsername}}</p></th>
    <td><img src="{{member?.avatar?.url||'./assets/user.png'}}"
             alt="{{member.publicUsername}}"
             class="img-fluid"></td>
    <td>{{member.reputation}} </td>
    <td>{{member.created| date:"dd/MM/yyyy"}}</td>
    <td>{{member.country}}</td>
    <td>{{member.lastActive| date:"dd/MM/yyyy"}}</td>
  </tr>
  </tbody>
</table>
<div class="has-text-centered">
  <div class="spinner"></div>
  <pagination-controls (pageChange)="getPage($event.valueOf())"></pagination-controls>
</div>
