<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid&&register()"
            autocomplete="off">
        <h2 class="text-center text-primary">Sign up</h2>
        <hr>
        <app-text-input [formControl]="$any(registerForm).controls['username']"
                        [label]="'Username'"></app-text-input>
        <app-text-input [formControl]="$any(registerForm).controls['password']"
                        [label]="'Password'" [type]="'password'"></app-text-input>
        <app-text-input [formControl]="$any(registerForm).controls['confirmPass']"
                        [label]="'Confirm password'" [type]="'password'"></app-text-input>
        <div class="row " *ngIf="validationErrors.length>0">
          <ul class="text-danger">
            <li *ngFor="let e of validationErrors">
              {{e}}
            </li>
          </ul>
        </div>
        <div class="form-group text-center">
          <button [disabled]="!registerForm.valid" class="btn btn-success mr-2" type="submit">
            Register
          </button>
          <button class="btn btn-default mr-2" routerLink="" type="button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
