<div class="row row-cols-2 mt-2">
  <div class="col-5">
    <h3 class="mt-0">Upload new avatar</h3>
    <div class="m-1">
      <button class="gl-button btn btn-default "
              type="button" (click)="input.click()">Choose file...
      </button>
      <input class="hidden" accept="image/*" type="file" (change)="handleUpload($event)"
             #input>
    </div>
    <button type="button" class="btn btn-success btn-s mt-1"
            (click)="this.uploadToServer()" [disabled]="!file">Upload
    </button>
  </div>
  <div class="col-7">
    <table class="table">
      <thead>
      <tr>
        <th class="w-50">Name</th>
        <th>Size</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td ><strong>{{ file?.name }}</strong></td>
        <td nowrap>{{ file?.size / 1024 / 1024 | number:'.2' }} MB</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>



