<div class="container-fluid">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        <div class="media flex-wrap align-items-center">
          <img src="{{member?.avatar?.url|| './assets/user.png'}}"
               alt="{{member?.publicUsername}}" class="d-block rounded-circle avatar">
          <div class="media-body ml-3">
            <a routerLink=".././members/{{member?.username}}">{{member?.publicUsername}}</a>
            <div class="text-muted small">{{post?.created|date: "dd/MM/yyyy hh:mm"}}</div>
          </div>
          <div class="text-muted small ml-3">
            <div>Member since <strong>{{member?.created |date: "dd/MM/yyyy"}}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p>{{post?.contents}}</p>
      </div>
      <div class="card-footer d-flex flex-wrap justify-content-between px-0 pt-0 pb-3">
      </div>
    </div>
  </div>
</div>
