<section class="modal-header">
  <h1>Latest topics</h1>
</section>
<table class='table table-bordered table-hover'>
  <thead>
  <tr class="row-cols-5">
    <th scope="row" class="col-1">Status</th>
    <th scope="row" class="col-8">Name</th>
    <th scope="row" class="col-auto">Category</th>
    <th scope="row" class="col-auto">Statistics</th>
    <th scope="row" class="col-auto">Last message</th>
  </tr>
  </thead>
  <tbody>
  <tr
    *ngFor="let topic of topics$|async|paginate:{itemsPerPage:5,currentPage:p,totalItems:totalCount}">
    <td>{{topic.status}}</td>
    <th>
      <p class="link-info" style="cursor: pointer"
         routerLink='../topic/{{topic.id}}'>{{topic.title}}</p>
      <a routerLink="../members/{{topic.author.username}}">
        {{topic.author.publicUsername}}</a>
    </th>
    <td>{{topic.category}}</td>
    <td>{{topic.posts.length}} Answers</td>
    <td>
      {{topic.posts[topic.posts.length - 1].created| date:"dd/MM/yy hh:mm"}}</td>
  </tr>
  </tbody>
</table>
<section class="has-text-centered">
  <div class="spinner"></div>
  <pagination-controls (pageChange)="getPage($event.valueOf())"></pagination-controls>
</section>
